#inputAndButton {
    display: flex;
}

#folderInput {
    width: 100%;
    margin-right: 6px;
    margin-bottom: 6px;
}

#testButton {
    margin-bottom: 6px;
}

#fileFilter
{
	margin-bottom: 6px;
}